@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --xbcolor1: #10b981;
    --xbcolor2: #000;
    --color3: #fff;
    --color4: #007bff;
    --color5: #343a40;
    --color6: #6c757d;
    --color7: #fff;
    --color8: #800080;
    --xblue: #007bff;
    --xindigo: #6610f2;
    --xpurple: #6f42c1;
    --xpink: #e83e8c;
    --xred: #dc3545;
    --xorange: #fd7e14;
    --xyellow: #ffc107;
    --xgreen: #28a745;
    --xteal: #20c997;
    --xcyan: #17a2b8;
    --xgray: #6c757d;
    --xgraydark: #343a40;
    --xprimary: #007bff;
    --xsecondary: #6c757d;
    --xsuccess: #28a745;
    --xinfo: #17a2b8;
    --xwarning: #ffc107;
    --xdanger: #dc3545;
    --xlight: #f8f9fa;
    --xdark: #343a40;
    --xgrayhover: #494e53;
    --xgraynavtext: #c2c7c0;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
